{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": ".\/tests\/"
    },
    "logs": {
        "text": ".\/var\/infection-log.txt"
    }
}